<?xml version="1.0" encoding="UTF-8" ?>
<!DOCTYPE mapper
PUBLIC "-//mybatis.org//DTD Mapper 3.0//EN"
"http://mybatis.org/dtd/mybatis-3-mapper.dtd">
<mapper namespace="sxy.dx.mapper.UserMapper">
	<!-- 查询 -->
	<select id="selectUserbyId" parameterType="int" resultType="user">
		select * from t_user where uid=#{id} ;
	</select>

	<select id="getUsersByPageQuery"  resultType="user">
		select * from t_user ;
	</select>

	<select id="getUsersByPageQuery2"  resultType="user">
		select * from t_user ;
	</select>
</mapper>
